<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
  <title>Dashboard</title>
</head>

<body>
<a href="/logout" class="myButton btn btn-danger"><i style="margin-right: 3px;" class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>Logout!</a>
<div class="container text-center">
  <h1 style="margin-top: 3rem; font-weight: bolder; text-shadow: 1px 1px #cdcdcd;">HMS Global Hospitality LLC</h1>
  <h3 style="margin-top: 2rem; font-weight: 800; text-decoration: underline;">Admin Panel</h3>

  <div style="margin-top: 6rem;" class="row">
    <div style="margin-bottom: 5rem;"  class="col-sm-4">
      <div style="width: 200px; padding-left: 0; padding-right: 0;" class="container card card-block h-100">
        <img class="card-img-top" src="https://imgtr.ee/images/2023/03/27/9CKp2.jpg" style="height: 150px; width: 100%; display: block;">
        <div class="card-block">
          <a href="/checkin"><button style="margin-bottom: 2rem; margin-top: 2rem; background-color:#C92C6D; border: none;" class="btn btn-primary">Check-In</button></a>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 5rem;" class="col-sm-4">
      <div style="width: 200px; padding-left: 0; padding-right: 0;" class="container card card-block h-100">
        <img class="card-img-top" src="https://imgtr.ee/images/2023/03/27/9CTXx.jpg" style="height: 150px; width: 100%;  display: block;">
        <div class="card-block">
          <a href="/checkout"><button style="margin-bottom: 2rem; margin-top: 2rem; background-color:#C92C6D; border: none;" class="btn btn-primary">Check-out</button></a>
        </div>
     </div>
    </div>

    <div style="margin-bottom: 5rem;" class="col-sm-4">
      <div style="width: 200px; padding-left: 0; padding-right: 0;" class="container card card-block h-100">
        <img class="card-img-top" src="https://imgtr.ee/images/2023/03/27/9CZvJ.jpg" style="height: 150px; width: 100%;  display: block;">
        <div class="card-block">
          <a href="/roomstatus"><button style="margin-bottom: 2rem; margin-top: 2rem; background-color:#C92C6D; border: none;" class="btn btn-primary">Rooms</button></a>
        </div>
      </div>
    </div>

    <div style="margin-bottom: 5rem;" class="col-sm-4">
      <div style="width: 200px; padding-left: 0; padding-right: 0;" class="container card card-block h-100">
        <img class="card-img-top" src="https://imgtr.ee/images/2023/03/27/9CmNi.jpg" style="height: 150px; width: 100%; display: block;">
        <div class="card-block">
          <a href="/adminmanage"><button style="margin-bottom: 2rem; margin-top: 2rem; background-color:#C92C6D; border: none;" class="btn btn-primary">Admin Management</button></a>
        </div>
      </div>
    </div>

    <div style="margin-bottom: 5rem;" class="col-sm-4">
      <div style="width: 200px; padding-left: 0; padding-right: 0;" class="container card card-block h-100">
        <img class="card-img-top" src="https://imgtr.ee/images/2023/03/27/9Cdir.jpg" style="height: 150px; width: 100%; display: block;">
        <div class="card-block">
          <a href="/onlinebookings"><button style="margin-bottom: 2rem; margin-top: 2rem; background-color:#C92C6D; border: none;" class="btn btn-primary">Online Bookings</button></a>
        </div>
      </div>
    </div>

    <div  style="margin-bottom: 5rem;" class="col-sm-4">
      <div style="width: 200px; padding-left: 0; padding-right: 0;" class="container card card-block h-100">
        <img class="card-img-top" src="https://imgtr.ee/images/2023/03/27/9CNBY.jpg" style="height: 150px; width: 100%; display: block;">
        <div class="card-block">
          <a href="/billing"><button style="margin-bottom: 2rem; margin-top: 2rem; background-color:#C92C6D; border: none;" class="btn btn-primary" >Billing</button></a>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>